<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>g_stock_hibernate</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Add_produit</display-name>
    <servlet-name>Add_produit</servlet-name>
    <servlet-class>zouzou.servlet.produit.Add_produit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_produit</servlet-name>
    <url-pattern>/Add_produit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update_produit</display-name>
    <servlet-name>Update_produit</servlet-name>
    <servlet-class>zouzou.servlet.produit.Update_produit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update_produit</servlet-name>
    <url-pattern>/Update_produit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_produit</display-name>
    <servlet-name>Delete_produit</servlet-name>
    <servlet-class>zouzou.servlet.produit.Delete_produit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_produit</servlet-name>
    <url-pattern>/Delete_produit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>Index_produit</servlet-name>
    <servlet-class>zouzou.servlet.produit.Index_produit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index_produit</servlet-name>
    <url-pattern>/produit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_entree</display-name>
    <servlet-name>Add_entree</servlet-name>
    <servlet-class>zouzou.servlet.entree.Add_entree</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_entree</servlet-name>
    <url-pattern>/Add_entree</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_entree</display-name>
    <servlet-name>Delete_entree</servlet-name>
    <servlet-class>zouzou.servlet.entree.Delete_entree</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_entree</servlet-name>
    <url-pattern>/Delete_entree</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Index_entree</display-name>
    <servlet-name>Index_entree</servlet-name>
    <servlet-class>zouzou.servlet.entree.Index_entree</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index_entree</servlet-name>
    <url-pattern>/entree</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update_entree</display-name>
    <servlet-name>Update_entree</servlet-name>
    <servlet-class>zouzou.servlet.entree.Update_entree</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update_entree</servlet-name>
    <url-pattern>/Update_entree</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Index_sortie</display-name>
    <servlet-name>Index_sortie</servlet-name>
    <servlet-class>zouzou.servlet.sortie.Index_sortie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index_sortie</servlet-name>
    <url-pattern>/sortie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_sortie</display-name>
    <servlet-name>Add_sortie</servlet-name>
    <servlet-class>zouzou.servlet.sortie.Add_sortie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_sortie</servlet-name>
    <url-pattern>/Add_sortie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_sortie</display-name>
    <servlet-name>Delete_sortie</servlet-name>
    <servlet-class>zouzou.servlet.sortie.Delete_sortie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_sortie</servlet-name>
    <url-pattern>/Delete_sortie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update_sortie</display-name>
    <servlet-name>Update_sortie</servlet-name>
    <servlet-class>zouzou.servlet.sortie.Update_sortie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update_sortie</servlet-name>
    <url-pattern>/Update_sortie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>index_mvm_controller</display-name>
    <servlet-name>index_mvm_controller</servlet-name>
    <servlet-class>zouzou.servlet.mouvement_stock.index_mvm_controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>index_mvm_controller</servlet-name>
    <url-pattern>/index_mvm_controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>produit_statistique</display-name>
    <servlet-name>produit_statistique</servlet-name>
    <servlet-class>zouzou.servlet.statistique.produit_statistique</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>produit_statistique</servlet-name>
    <url-pattern>/produit_statistique</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>export_entree_controller</display-name>
    <servlet-name>export_entree_controller</servlet-name>
    <servlet-class>zouzou.servlet.entree.export_entree_controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>export_entree_controller</servlet-name>
    <url-pattern>/export_entree_controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>export_produit_PDF</display-name>
    <servlet-name>export_produit_PDF</servlet-name>
    <servlet-class>zouzou.servlet.produit.export_produit_PDF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>export_produit_PDF</servlet-name>
    <url-pattern>/export_produit_PDF</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>export_sortie_controller</display-name>
    <servlet-name>export_sortie_controller</servlet-name>
    <servlet-class>zouzou.servlet.sortie.export_sortie_controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>export_sortie_controller</servlet-name>
    <url-pattern>/export_sortie_controller</url-pattern>
  </servlet-mapping>
</web-app>